body {
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
  }

.nav-item :hover {
    color: black;
    background-color: darkgoldenrod;    
}

.bg {
    background-image: url("../Assets/images/sky.jpg");
}

h2 {
    color: white;
}
p {
    color: white;
    text-align: justify;
}
.selfie{
    margin-right: 20px;
    float: left;
    height: 200px;
    width: 150px;
}
img {
    margin-right: 20px;
    float: left;
}
#wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
  }
.row {
    padding: 20px;
}
button {
      margin-bottom: 20px;
  }
  
  /* Set the fixed height of the footer here */
  #footer {
    padding: 10px;
    height: 60px;
    text-align: center;
    font-size: 10px;
    background-color: rgba(26, 25, 25, 0.877);
    color: white;
    clear: both;
    border: 2px solid;
    border-color: white;
  }

  .copyright {
      text-align: center;
      color: lightyellow;
      font-size: 8px;
  }

  @media screen and (max-width: 400px) {
   
      }